<section class="mainwraper">
    <div class="mainbox">
        <div class="subheader">
            <h2>Welcome To Avatar Website</h2>    
                <p class="maintext">
                        Welcome to the Avatar Universe! Here, you can explore the stories of iconic characters from Avatar: The Last Airbender. 
                        Use the navigation bar to read about heroes like Aang, the last Airbender, and Katara, the brave Waterbender. 
                        You can also dive into the lives of villains like Prince Zuko and Fire Lord Ozai, each with their own complex journeys.

                        Each page offers insights into these characters' backgrounds, powers, and transformations throughout the series. 
                        Whether you're a devoted fan or new to the Avatar world, enjoy discovering more about these unforgettable characters 
                        and their adventures!
                </p>
                <p class="maintext">
                    The images are clickable!
                </p>
                    <div class="imageWraper">
                        <a href="/villans">
                            <img class="mainImages" src="/Images/ozai.png" alt="Ozai">
                        </a>
                        <a href="/heroes">
                            <img class="mainImages" src="/Images/aang.png" alt="Aang">
                        </a>
                    </div>  
        </div>
    </div>
</section>